@model List<Product>

@section Footer{
    <div>
        Only for Index Footer 
    </div>
}

@foreach (Product prd in Model)
{
    <div>
        <h3>@prd.ProductName</h3>
        <p>@prd.Price</p>
        <a href="/Product/Get/@prd.ProductId">Get Detatils</a>
    </div>
}
