@model List<Employee>
    <div class="display">
        Index3
    </div>

@foreach(Employee employee in Model)
{
    <h6>@employee.FullName</h6>
    <p>@employee.Id</p>
    <p><strong>Age:</strong>@employee.Age</p>
    <hr/>
}